<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="./node_modules/angular/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);

        angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope) {
            $scope.app = "Lista Telefônica";

            $scope.contatos = [
                { nome: "Teste", numero: "9999999" },
                { nome: "Teste", numero: "9999999" },
                { nome: "Teste", numero: "9999999" },
                { nome: "Teste", numero: "9999999" },
            ]

            $scope.operadoras = [
                {nome: 'Oi', codigo: 14, categoria: 'Celular'},
                {nome: 'Tim', codigo: 15, categoria: 'Celular'},
                {nome: 'Vivo', codigo: 41, categoria: 'Celular'},
                {nome: 'GVT', codigo: 25, categoria: 'Fixo'},
                {nome: 'Embratel', codigo: 21, categoria: 'Fixo'},
            ]

            $scope.adicionarContato= function (contato){
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            }

            $scope.classe1 = "selecionado"
            $scope.classe2 = "negrito"
        });
    </script>
    <style>
        .selecionado{
            background-color: yellow;
        }
        .negrito{
            font-weight: bold;
        }
    </style>
    <title>Lista Telefônica</title>
</head>

<body ng-controller="listaTelefonicaController">
    <div class="jumbotron d-flex flex-column align-items-center justify-content-center mt-4">
        <div class="w-50">
            <h4 class="mb-4" ng-bind="app"></h4>
            <table class="table">
                {{contatos}}
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>
                <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                    <td>
                        <input type="checkbox" ng-model="contato.selecionado"></input>
                    </td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.numero}}</td>
                    <td>{{contato.operadora.nome}}</td>
                </tr>
            </table>
            <hr>
            <input type="text" class="form-control mb-4" ng-model="contato.nome" placeholder="Nome">
            <input type="text" class="form-control mb-4" ng-model="contato.numero" placeholder="Telefone">
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>
            <button class="btn btn-primary btn-block mt-4" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.nome">Adicionar contato</button>
        </div>
    </div>
</body>

</html>